@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {

    --font--family-primary: "Inter", sans-serif;

    --text-color: #e7b324;
    --background-color: hsla(0, 0%, 0%, 0.7);

    --radius-default: .5rem;
}

body {
    width: 100vw;
    padding: .9375rem 6.25rem 0 6.25rem;
    background: url("../assets/fundo.gif");
    background-size: 100vw 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;

    font-family: var(--font--family-primary);
    color: var(--text-color);
}

        h1 {
            font-size: clamp(1.125rem, 0.4648rem + 2.8169vw, 3rem);
            font-weight: 700;
            text-align: center;

            padding: .3125rem;
            border-radius: var(--radius-default);

            text-shadow: #ff0000 .125rem .1875rem .125rem;
            background: var(--background-color);
        }

    main {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.25rem;
    }

        section {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: .625rem;
        }

            textarea {
                padding: 1.25rem;
                border-radius: var(--radius-default);
                border: .125rem solid var(--text-color);

                color: var(--text-color);
                background: var(--background-color);

                font-size: .875rem;
                font-weight: 400;
            }

            textarea:focus {
                outline: 0;
            }

            .second-textarea {
                margin-bottom: 1.3125rem;
            }

            .description-container {
                display: flex;
                font-size: .625rem;
                font-weight: 500;
            }

            .button-container {
                display: flex;
                gap: .625rem;
            }

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: .3125rem .625rem;
                    border-radius: var(--radius-default);
                    border: .125rem solid var(--text-color);

                    font-size: clamp(0.75rem, 0.6620rem + 0.3756vw, 1rem);
                    font-weight: 600;

                    background: var(--background-color);
                    color: var(--text-color);
                }

                button:hover {
                    cursor: pointer;
                    border: .125rem solid var(--background-color);
                    background: var(--text-color);
                    color: #000000;
                }

    footer {
        display: flex;
        margin-top: 6.25rem;
        margin-bottom: .625rem;
        font-size: clamp(0.75rem, 0.6620rem + 0.3756vw, 1rem);
        font-weight: 500;
        text-align: center;
    }

@media (width <= 678px) {
    
}